# VITE_API_URL=http://localhost:3030
VITE_API_URL=https://life-ledger-client.vercel.app
VITE_apiKey=AIzaSyAbRJSIpb5DkYioAfoFcEWJEh5owFFGyMo
VITE_authDomain=lifeledger-9e28d.firebaseapp.com
VITE_projectId=lifeledger-9e28d
VITE_storageBucket=lifeledger-9e28d.firebasestorage.app
VITE_messagingSenderId=132003996786
VITE_appId=1:132003996786:web:2a66338595a7f402c48eeb
VITE_Imgbb=ccdae3e10f477f7e93ef5896310d5f60
